{{> header}}

<div class="row">
  <div
    class="col-sm-3 d-sm-block{{^config.menu_on_pages}} d-none{{/config.menu_on_pages}}"
  >
    <nav aria-label="{{lang.global.sidebar}}">
      <ul class="menu">
        {{#canEdit}}
        <li>
          <input
            id="newCategory"
            type="text"
            class="form-control"
            placeholder="{{lang.page.addCategory}}"
            aria-label="{{lang.page.addCategory}}"
          />
        </li>
        {{/canEdit}} {{#pages}}
        <li class="category {{#active}} active{{/active}}">
          {{#is_index}}
          <h5
            class="category-title"
            data-collapsible="{{config.menu_on_page_collapsible}}"
            data-category-sort="{{sort}}"
            data-title="{{lang.global.mainArticles}}"
            data-is-index="true"
          >
            <span class="category-title-text"></span>
            {{#canEdit}}
            <button
              type="button"
              class="add-page"
              data-bs-toggle="modal"
              data-bs-target="#addModal"
              title="{{lang.page.addPage}}"
              aria-label="{{lang.page.addPage}}"
            >
              <span aria-hidden="true">&plus;</span>
            </button>
            {{/canEdit}}
          </h5>
          {{/is_index}} {{^is_index}}
          <h5
            class="category-title"
            data-collapsible="{{config.menu_on_page_collapsible}}"
            data-category-sort="{{sort}}"
            data-title="{{title}}"
          >
            <span class="category-title-text"></span>
            {{#canEdit}}
            <button
              type="button"
              class="add-page"
              data-bs-toggle="modal"
              data-bs-target="#addModal"
              title="{{lang.page.addPage}}"
              aria-label="{{lang.page.addPage}}"
            >
              <span aria-hidden="true">&plus;</span>
            </button>
            {{/canEdit}}
          </h5>
          {{/is_index}}
          <ul
            class="pages"
            data-collapsible="{{config.menu_on_page_collapsible}}"
            data-category-sort="{{sort}}"
            data-active="{{active}}"
          >
            {{#files}} {{^is_directory}}
            <li class="page{{#active}} active{{/active}}">
              <a href="{{config.base_url}}/{{slug}}">{{title}}</a>
            </li>
            {{/is_directory}} {{#is_directory}}
            <li class="page{{#active}} active{{/active}}">
              {{title}} {{#files}}
              <ul>
                {{^is_directory}}
                <li class="page{{#active}} active{{/active}}">
                  <a href="{{config.base_url}}/{{slug}}">{{title}}</a>
                </li>
                {{/is_directory}} {{#is_directory}}
                <li class="page{{#active}} active{{/active}}">
                  {{title}}
                  <ul>
                    {{#files}}
                    <li class="page{{#active}} active{{/active}}">
                      <a href="{{config.base_url}}/{{slug}}">{{title}}</a>
                    </li>
                    {{/files}}
                  </ul>
                </li>
                {{/is_directory}}
              </ul>
              {{/files}}
            </li>
            {{/is_directory}} {{/files}}
          </ul>
        </li>
        {{/pages}}
      </ul>
    </nav>
  </div>
  <div class="col-sm-9">
    <section class="content">
      {{#canEdit}}
      <div class="btn-group btn-group-sm float-end">
        <button
          type="button"
          class="btn btn-secondary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{lang.page.actions}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{current_url}}/edit"
            >{{lang.page.editPage}}</a
          >
          <button
            class="dropdown-item"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
          >
            {{lang.page.deletePage}}
          </button>
        </div>
      </div>
      {{/canEdit}} {{#meta.title}}
      <h1 class="title">{{meta.title}}</h1>
      {{/meta.title}} {{{content}}}

      <footer class="page-meta clearfix">
        {{#config.support_email}}
        <div class="contact-support float-start">
          {{lang.page.needHelp}}
          <a href="mailto:{{config.support_email}}">{{lang.page.getInTouch}}</a>
        </div>
        {{/config.support_email}}
        <div class="last-updated float-end">
          {{lang.global.lastUpdated}} {{last_modified}}
        </div>
      </footer>
    </section>
  </div>
</div>

{{> footer}}
