* {
  direction: rtl;
  unicode-bidi: embed;
  font-family: "Roboto", sans-serif;
}

/* Home */
#home-search {
  border-radius: 0 0.375rem 0.375rem 0 !important;
}
.jumbotron .search-form .btn {
  border-radius: 0.375rem 0 0 0.375rem !important;
}
.jumbotron .search-form .form-control {
  border: 2px solid var(--primary-color) !important;
  border-left: none !important;
}

/* Page Template Styles */
.add-page {
  margin-left: 0 !important;
  margin-right: auto !important;
}

/* Other Unconfirmed */
.header .container-fluid .row .col-sm-6 form {
  float: left !important;
}

.content .btn-group {
  float: left !important;
}
